.MonthCard {
    text-align: center;
    font-weight: bold;
    transition: .75s ease-in;
}

.MonthCard:hover {
    background-color: #7289da !important;
    color: #fff !important;
}

.IdCard {
    transition: 0.3s;
}